.header-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient( 109.6deg,  rgba(24,138,141,1) 11.2%, rgba(96,221,142,1) 91.1% );


}

.header-bar-left {
    list-style-type: none;
    margin-left: 40px;
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 40px;
}

.header-bar-right {
    list-style-type: none;
    justify-self: flex-end;
    display: flex;
    margin-right: 40px;
    align-items: center;
}
