.header-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 228, 225);
    background-image: linear-gradient(rgb(255, 250, 240), rgb(255, 228, 225));
}

.header-bar-left{
    list-style-type: none;
    margin-left: 40px;
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 40px;
}

.header-bar-right{
    list-style-type: none;
    justify-self: flex-end;
    display: flex;
    margin-right: 40px;
    align-items: center;
}
