.nav_profile-menu {
    border: black 2px solid;
    position: absolute;
    height: 240px;
    width: 250px;
    background-color: white;
    top: 60px;
    right: -10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 40px;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 5px;
}

.nav_profile-menu span{
    margin-bottom: 6px;
    font-family: sans-serif;
}

.logout-button{
    height:26px;
    color:white;
    margin-top: 1rem;
    background-image: radial-gradient( circle 732px at -23.9% -25.1%,  rgba(30,39,107,1) 6.1%, rgba(188,104,142,1) 100.2% );
    border: 0;
    border-radius: .2rem;
}

.profileBtn{
    border: 0;
    background-image: linear-gradient( 110.3deg,  rgba(72,85,99,1) 8.8%, rgba(127,146,166,1) 95.1% );
}

.fa-user-circle{
    margin:0;
    height:15px;
    width:15px;
    background-image: linear-gradient( 110.3deg,  rgba(72,85,99,1) 8.8%, rgba(127,146,166,1) 95.1% );

}
