/* .nav_profile-menu {
    position: absolute;
    height: 180px;
    width: 250px;
    background-color: 	#FFFAFA;
    top: 60px;
    right: -10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 40px;
    border-radius: 10px;
    border: none
}

.nav_profile-menu span{
    margin-bottom: 6px;
    font-family: sans-serif;
} */
