body {
    font-family: 'Roboto', sans-serif;
}

.allNotesFromSingleNotebookContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 15rem;
    height: 35rem;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.allNotesFromSingleNotebookContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.allNotesFromSingleNotebookContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.allNotesFromSingleNotebookContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}



.notSelected {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 10rem;
    background-color: white;
    justify-content: space-evenly;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    overflow: hidden;
}

.selected {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 10rem;
    background-color: white;
    justify-content: space-evenly;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    overflow: scroll;
}

.selected::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 4px;
}

.selected::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.selected::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}

.notSelected:hover{
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}

.notebookContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
}

h2{
    font-family: 'Quicksand', sans-serif;
    display:flex;
    justify-content: center;
    margin: 5rem;
    font-size: xx-large;
}

h3{
    display:flex;
    justify-content: center;
    margin: 3rem;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}



.realNotesDisplayForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 35rem;
    width: 40rem;
    margin-left: 30px;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.realNotesTitle {
    height: 5rem;
    margin: 8px;
    width: 38rem;
}

.realNotsContent {
    height: 18rem;
    margin: 8px;
    width: 38rem;
    word-break: break-all;
}

.editBtn2{
    margin-top: 0.6rem;
    margin-left: 10rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 20rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.editNotebookContainer{
    display: flex;
    justify-content: center;
}

.editBtn1{
    margin-left: 2rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 10rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.editNotebookTitleInput{
    height: 2.3rem;
    width: 15rem
}

.createNoteFormContainer{
    border:black 2px solid;
    /* display: flex;
    justify-content: center; */
}


.createNote{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 35rem;
    width: 40rem;
    margin-left: 30px;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.createNoteBtn{
    /* margin-left: 3.5rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 10rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px; */
    margin-top: 0.6rem;
    margin-left: 10rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 20rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.createTitleInput{
    /* height: 2.3rem;
    width: 20rem;
    margin:10px; */
    height: 5rem;
    margin: 8px;
    width: 38rem;
}

.createContentInput{
    /* height: 8rem;
    width: 20rem;
    margin:10px; */
    height: 18rem;
    margin: 8px;
    width: 38rem;

}

/* .cancelNoteBtn{
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 0;
    border-radius: .2rem;
    padding: 8px;
    margin: 5px;

} */

.deleteNoteBtn{
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 0;
    border-radius: .2rem;
    padding: 8px;
    margin: 5px;
    margin-top: 1rem;;
    margin-left: 2.5rem;;
}

.deleteNotebookBtn{
    display: flex;
    justify-content: center;
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    width: 10rem;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
