body {
    font-family: 'Roboto', sans-serif;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
}

.outerContainer{
    display: flex;
    flex-direction: row;
    /* border: red solid 2px; */
    height: 100vh;
}

.createNoteButton{
    display: flex;
    justify-content: center;
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    width: 10rem;
}

.allNotesFromSingleNotebookContainer {
    /* margin-top:4.6rem; */
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 22rem;
    height: 85%;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* border:green 2px solid; */
}

.allNotesFromSingleNotebookContainer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

.allNotesFromSingleNotebookContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.allNotesFromSingleNotebookContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}



.notSelected {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 17rem;
    background-color: white;
    justify-content: space-evenly;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    cursor: pointer;
    /* border: red 2px solid; */
    overflow: auto;
}



/* .notSelected::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 4px;
}

.notSelected::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.notSelected::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
} */






.selected {
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 17rem;
    background-color: white;
    justify-content: space-evenly;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    /* overflow: scroll; */
    cursor: pointer;
    /* border: green 2px solid; */
}

/* .selected::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    border-radius: 4px;
}

.selected::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.selected::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
} */

.notSelected:hover{
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}

.notebookContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5px;
    height:90%;
    width:99.8%;
    /* border: black 3px solid; */
}

h2{
    font-family: 'Quicksand', sans-serif;
    display:flex;
    justify-content: center;
    margin: 3rem;
    font-size: xx-large;
}

.span1{
   color:#3813C2
}


h3{
    display:flex;
    justify-content: center;
    margin: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
}



.realNotesDisplayForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 35rem;
    width: 50rem;
    margin-left: 30px;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.realNotesTitle {
    font-size: 15.5px;
    font-family: 'Roboto', sans-serif;
    height: 5rem;
    margin: 1rem;
    width: 47rem;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.realNotsContent {
    font-size: 15.5px;
    font-family: 'Roboto', sans-serif;
    height: 18rem;
    margin: 1rem;
    width: 47rem;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.realNotsContent::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 4px;
}

.realNotsContent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.realNotsContent::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}

.editBtn2{
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    /* margin-left: 5rem; */
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 10rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.editBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.errors{
    /* border:purple 3px solid; */
    color:red;
    list-style-type: none;
    width:80%;
    text-align: center;

}

.cancelEdit2{

    margin-top: 0.6rem;
    margin-left: 5rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 10rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.editNotebookContainer{
    display: flex;
    justify-content: center;
}

.editBtn1{
    margin-left: 2rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 10rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.editNotebookTitleInput{
    height: 2.3rem;
    width: 15rem
}




.createNote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 35rem;
    width: 50rem;
    margin-left: 30px;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.createNoteBtn{
    margin-top: 0.6rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 10rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.createTitleInput{
    font-size: 15.5px;
    font-family: 'Roboto', sans-serif;
    height: 5rem;
    margin: 1rem;
    width: 47rem;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.createContentInput{
    font-size: 15.5px;
    font-family: 'Roboto', sans-serif;
    height: 18rem;
    margin: 1rem;
    width: 47rem;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;

}

.createContentInput::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 4px;
}

.createContentInput::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.createContentInput::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}

.topTitle:hover{
    background-image: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%);
}


.deleteNoteBtn{
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 0;
    border-radius: .2rem;
    padding: 8px;
    margin: 5px;
    margin-top: 1rem;;
    margin-left: 6.8rem;;
}

.editBtn5{
    display: flex;
    justify-content: center;
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    width: 10rem;
}

.deleteNotebookBtn{
    display: flex;
    justify-content: center;
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    width: 10rem;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createFormBtnContainer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cancelCreate{
    margin-top: 0.6rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    width: 10rem;
    border: 0;
    border-radius: .2rem;
    padding: 13px;
    color: white;
    font-size: 14px;
}

.richEditorContainer{
    /* border:red 2px solid; */
    height:84.6%;
    width:70%;
    margin-left: 5px;;
}

/* .quillBox{
    border: blue 3px solid;
    border-right: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
} */


.container5{
    /* border: yellow 2px solid; */
    height:80%;
    width:90%

}

.container4{
    /* border: blue 3px solid; */
    width:80%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.noteTitle_1{
    /* border: pink 3px solid; */
    width: 90%;
    height:2.5rem;
    border: solid transparent 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px;
    border-radius: 5px;
    margin-left: 1px;
    margin-bottom: 2px;
}

.editorForm{
    /* border:#3813C2 3px solid; */
    display:flex;
    flex-direction: row;
}

.saveBtn{
    margin-left: 10px;;
    margin-top:7px;
    padding:10px;
    height:2rem;
    border: 0;
    border-radius: .2rem;
    color:white;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
}



.NotesPageContainer{
    /* border: orangered 5px solid; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:96%;
    padding:0;
    margin-top: 1px;
}


.notecontent1{
    /* border: purple 3px solid; */
    height:72%;
    overflow: auto;
    overflow-y: auto;
    word-wrap: break-word;
    font-size: 15px;
}

.notecontent1::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 4px;
}

.notecontent1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.notecontent1::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 4px;
}

.noteTitle5{
    font-weight: bold;
    font-size: 18px;
}
